<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.board.memberMapper">
	<select id = "login" parameterType = "com.spring.board.form.MemberForm" resultType="com.spring.board.form.MemberForm">
		select account_id, account_name
			from monkey.account
				where account_id = #{account_id}
				and account_pw = #{account_pw}
	</select>
	<insert id = "join" parameterType = "com.spring.board.form.MemberForm">
		insert into monkey.account(
				account_id
				,account_pw
				,account_name)
			values(
				#{account_id}
				,#{account_pw}
				,#{account_name})
	</insert>
</mapper>